@import (reference) '_variables.less';
@import '../../../node_modules/font-awesome/less/font-awesome';

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf');
    font-weight: 300;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    @media @mobile {
        font-size: 15px;
    }

    #container {
        height: 100%;
        display: grid;
        grid-template-columns: max-content;
        grid-auto-rows: 50px auto;
        background-color: #F5F5F5;
        grid-template-areas: "menu header" "menu main";

        @media @mobile {
            grid-auto-rows: 75px auto;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: @gap-primary;
}

h2 {
    font-weight: normal;
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

p,
span,
a {
    font-size: 1em;
}

i.fa {
    font-size: 17px;
}

span {
    &.disabled { color: @color-quaternary; }
}

a {
    color: @color-primary;
    text-decoration: none;

    &.link {
        &:link { color: @color-quaternary; }
        &:hover { color: @color-secondary; }
    }
}

code {
    font-family: monospace;
    font-size: 1em;
    background-color: #F5F5F5;
    padding: @gap-quinary @gap-quaternary;
}

.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
.loading {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    .loader {
        position: absolute;
        width: auto;
        height: 25px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .spinner {
            border: 5px solid white;
            border-top: 5px solid black;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            animation: spin 2s linear infinite;

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }

}
/**********************************************
 *
 *  The navigation and user image
 *
**********************************************/

#sidebar {
    position: relative;
    width: 0;
    height: 100%;
    //Grid prop's
    grid-column: 1;
    grid-row: ~"1 / 5";
    grid-area: menu;
    overflow: hidden;
    font-weight: normal;
    background-color: @color-tertiary;
    transition: width .4s;
    color: white;

    @media @tablet {
        position: fixed;
        width: 0;
        top: 50px;
        height: ~"calc(100% - 50px)";
        grid-area: unset;
        z-index: 5;
    }

    @media @mobile {
        top: 75px;
        height: ~"calc(100% - 75px)";
    }

    &.expended {
        width: 275px;
        @media @mobile {
            width: 100%;
        }
    }

    .side-head, .side {
        min-width: 275px;
    }

    &.expended {
        @media @tablet {
            &::before {
                content: '';
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                z-index: -1;
            }
        }
    }

    .side-head {
        position: relative;
        height: 50px;
        background-color: #2C2C2C;
        overflow: hidden;

        img {
            position: absolute;
            left: @gap-secondary;
            top: 50%;
            transform: translateY(-50%);
        }

        @media @tablet {
            display: none;
        }
    }

    /**********************************************
    *
    *  User image and name
    *
    **********************************************/

    .side .user {
        margin: 15px;

        .image {
            position: relative;
            float: left;
            width: 50px;
            height: 50px;
            margin-right: @gap-secondary;
            border-radius: 100%;
            overflow: hidden;

            img {
                position: absolute;
                width: auto;
                height: 100%;
                min-width: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .name {
            float: left;
            line-height: 50px;
        }
    }

    /**********************************************
    *
    *  Navigation + Icons
    *
    **********************************************/

    #menu {
        position: absolute;
        width: 100%;
        min-width: 270px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        @media @mobile {

            height: ~"calc(100% - 80px)";
        }
    }

    nav.items {

        ul {
            list-style: none;
            margin: 0;
            //Webkit engine use rear margins
            -webkit-margin-start: 0;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-padding-start: 0;
            -webkit-margin-end: 0;
        }

        li {
            position: relative;
            height: auto;
            line-height: 35px;
            user-select: none;
            cursor: pointer;

            &.active {
                background-color: #2C2C2C;

                div.item {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 2px;
                        height: 25px;
                        margin-top: -12.5px;
                        background-color: @color-secondary;
                        border-top-right-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                }
            }

            @media @mobile {
                line-height: 50px;
            }
        }

        div.item {
            position: relative;

            > .fa {
                position: absolute;
                right: 0;
                top: 50%;
                color: @color-quaternary;
                transform: translateY(-50%);
                z-index: 9;

                &:hover { color: white; }
                &.fa-caret-up { color: white; }
            }
        }

        i { margin-right: @gap-tertiary; }

        a {
            height: 100%;
            padding-left: @gap-secondary;
            text-decoration: none;
            color: white;

            &:hover { text-decoration: underline; }
        }

        .expand-content {
            display: none;
            width: 100%;
            background-color: #2C2C2C;

            ul {
                li {
                    list-style: none;
                    padding-left: @gap-primary * 1.8;

                    a { padding: 0; }
                }
            }

            &.expand {
                display: block;
            }
        }
    }
}

/**********************************************
*
*  Header
*
**********************************************/
header#bar {
    display: flex;
    grid-column: ~"2 / 4";
    grid-row: ~"1 / 3";
    grid-area: header;
    background-color: @color-tertiary;
    line-height: 50px;
    text-align: center;
    color: white;

    @media @mobile {
        line-height: 75px;
    }

    .item {
        position: relative;
        width: 50px;
        height: 100%;
        cursor: pointer;

        i.fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        > a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &:hover {
            color: @color-primary;
        }
    }

    #collapse {
        &.expended {
            .fa::before { content: "\F00D";}
        }
        .fa::before { content: "\F0C9";}
    }

    .breadcrumb {
        flex: 1;
        word-break: keep-all;
        text-align: initial;

        a {
            color: white;
            display: inline;

            &:hover {
                color: @color-primary;
            }

            &:not(:last-child)::after {
                content: '>';
                margin-left: @gap-quaternary;
            }

            &:last-child {
                pointer-events: none;
                cursor: default;
                text-decoration: none;
                color: @color-quaternary;
            }
        }
    }

    .right {
        margin-left: auto;
    }

    #logout form { display: none; }

}

/**********************************************
*
*  Main section
*
**********************************************/
main#main {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: @gap-secondary / 2;
    flex-flow: row wrap;
    max-height: 100%;
    grid-column: ~"2/4";
    grid-row: ~"2/5";
    grid-area: main;
    overflow-y: auto;

    section {
        box-sizing: border-box;
        padding: @gap-secondary / 2;

        .body {
            position: relative;
            box-sizing: border-box;
            height: 100%;
            padding: @gap-secondary;
            background: white;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31);
            overflow-y: auto;
        }

        &:only-of-type {
            height: auto;
            margin: 0;
            flex-basis: 100%;
        }

        &[class^=col] { height: 50%; }

        &.col-5 { width: 83.3%; }

        &.col-4 { width: 66.64%; }

        &.col-3 { width: 49.98%;

            @media @tablet {
                width: 100%;
            }
        }

        &.col-2 { width: 33.32%; }

        &.col-1 { width: 16.66%; }
    }
}

/**********************************************
*
*  Errors
*
**********************************************/
.messages {
    position: fixed;
    width: 300px;
    top: @gap-secondary;
    right: @gap-secondary;
    z-index: 9;
    color: white;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: @gap-secondary;
            border-radius: @gap-quaternary;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);

            &.success { background-color: #59D100; }
            &.error { background-color: #FC7474; }

            &:not(:last-child) {
                margin-bottom: @gap-quaternary;
            }
        }
    }
}

/**********************************************
*
*  Table
*
**********************************************/
div.table, div.form-table {
    margin-bottom: @gap-primary;
    &:only-of-type,
    &:last-of-type {
        margin-bottom: 0;
    }
    .tr {
        .th { font-weight: bold; }
        .td, .th {
            overflow: hidden;
            &.remaining { flex: 1 0; }
            &.auto-width { flex: 0 0 auto; }
            &.xs-small { flex: 0 0 8%; }
            &.small { flex: 0 0 15%; }
            &.label { font-weight: bold; }
            &.normal { flex: 0 0 25%; }
            &.center { text-align: center; }

            > i.fa {
                float: right;
                line-height: 35px;
                font-size: 1.5em;
                cursor: pointer;

                &:not(:only-of-type) {
                    margin-left: @gap-tertiary;
                }
            }
        }

        .td {
            &.error {
                background-color: #FC7474;
                color: white;
                flex: 2 0 100%;
            }

            &.auto-height {
                height: auto;
                max-height: none;
                line-height: normal;
            }

            &.agenda-item {
                height: 100px;
                flex: 0 0 14.2857142857%;
                max-height: none;

                &:nth-child(7n) {
                    border-right: 1px solid #F5F5F5;
                }

                @media @mobile {
                    flex: 0 0 33.33%;

                    &.current {

                        &:nth-child(7n) {
                            border-right: unset;
                        }

                        &:nth-child(3n + 2) {
                            border-right: 1px solid #F5F5F5;
                        }
                    }
                }

            }

            > i.fa {
                cursor: pointer;
                margin-right: @gap-quinary;
                &:last-child { margin-right: 0; }
                &:hover { color: @color-primary }
            }
        }
        &.agenda-head {
            .td {
                flex: 0 0 14.2857142857%;
            }

            @media @mobile {
                display: none;
            }
        }
    }

    &.clean {
        .tr {
            background: none;

            .td, .th {
                background: none;
                border: none;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

/**********************************************
*
*  Modal
*
**********************************************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;

    &.is-active {
        display: block;
    }

    .modal-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: @gap-secondary;
        width: 500px;
        min-width: 320px;
        background-color: white;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.31);
        overflow: hidden;
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .31);
    }
}

/**********************************************
*
*  Pagination
*
**********************************************/
div.pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    ul {
        padding: 0;
        list-style-type: none;
        margin: @gap-secondary 0;
        li {
            padding: @gap-quaternary;
            display: inline;
        }
    }
}

/**********************************************
*
*  Agenda
*
**********************************************/
div.agenda-item {
    position: relative;
    overflow: scroll;

    .date {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 5%;
        color: black;
        text-align: center;
        border: 2px solid #F5F5F5;
        line-height: 25px;
        user-select: none;

        &.now {
            border-radius: 100%;
            color: white;
            background-color: @color-secondary;
        }
    }

    &.prev, &.next {
        background: url(/images/stripe.png) repeat;
        .date {
            color: #C2C2C2;
            background: white;
        }

        &:hover {
            box-shadow: none;
        }

        @media @mobile {
            display: none;
        }
    }

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(194,194,194,1);
        z-index: 9;
    }


}

.profile-picture {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;

    > img {
        position: absolute;
        width: auto;
        height: 100%;
        min-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
